{
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/data.json {:mvn/version "1.0.0"}
  yogthos/config {:mvn/version "1.1.7"}
  io.pedestal/pedestal.service {:mvn/version "0.5.8"}
  io.pedestal/pedestal.route {:mvn/version "0.5.8"}
  io.pedestal/pedestal.jetty {:mvn/version "0.5.8"}
  org.slf4j/slf4j-simple {:mvn/version "1.7.30"}
  com.draines/postal {:mvn/version "2.0.4"}
  origenial/utils {:local/root "../../origenial_utils"}
  ponceleo.landing/common {:local/root "../common"}
  #_#_ponceleo.core/backend {:local/root "../../ponceleo_core/backend"}}

 :paths
 ["src/main" "src/resources"]

 :aliases
 {
  :env/dev {:jvm-opts ["-Dconfig=./env/dev.config.edn"]
            :extra-deps {}
            :extra-paths ["src/dev" "src/test"]}
  :env/prod {:jvm-opts ["-Dconfig=./env/prod.config.edn"]}
  :env/local {:jvm-opts ["-Dconfig=./env/local.config.edn"]}

  :project/uberjar
  {:replace-deps {seancorfield/depstar {:mvn/version "2.0.165"}}
   :exec-fn hf.depstar/uberjar
   :exec-args  {:jar "target/ponceleo.standalone.jar"
                :aot true
                :main-class ponceleo.landing.backend.core}}
  }}
