^{
  :hot-reload-cljs false
}
{
 ;; Production figwheel-main's options
 ;; This file's metadata are merged into : figwheel-main.edn data

 ;; Used by the `figwheel-main lib
 ;; (figwheel.main/reset) , executed on a running Figwheel REPL instance,
 ;;                         will stop, clean, reload config, and start autobuilder

 ;; This file's data represents : CLJS compiler's configuration
 ;; This file's meta-data represents : Figwheel's run options

 :main ponceleo.prod
 :asset-path "/js/out"
 :output-to "target/public/js/app.js"
 :output-dir "target/public/js/out"
 :source-map       "target/public/js/app.js.map"
 :optimizations :advanced
 :infer-externs true
 :pretty-print  false
}


