{
 :deps    {
           org.clojure/clojure             {:mvn/version "1.10.1"}
           org.clojure/clojurescript       {:mvn/version "1.10.773"}
           ring/ring-core                  {:mvn/version "1.8.1"}
           ring/ring-defaults              {:mvn/version "0.3.2"}
           ring-server                     {:mvn/version "0.5.0"}
           reagent                         {:mvn/version "0.10.0"}
           reagent-utils                   {:mvn/version "0.3.3"}
           hiccup                          {:mvn/version "1.0.5"}
           yogthos/config                  {:mvn/version "1.1.7"}
           metosin/reitit                  {:mvn/version "0.5.1"}
           metosin/jsonista                {:mvn/version "0.2.6"}
           pez/clerk                       {:mvn/version "1.0.0"}
           venantius/accountant            {:mvn/version "0.2.5"
                                            :exclusions  [org.clojure/tools.reader]}
           com.bhauman/figwheel-main       {:mvn/version "0.2.11"}
           com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}


 :paths   ["src/clj" "src/cljc" "src/cljs" "src/resources" "target"]

 :aliases {
           :env/dev   {:jvm-opts    ["-Dconfig=env/dev/dev.config.edn"]
                       :extra-paths ["env/dev/clj" "env/dev/cljs"]
                       :extra-deps  {ring/ring-mock   {:mvn/version "0.4.0"}
                                     ring/ring-devel  {:mvn/version "1.8.1"}
                                     prone            {:mvn/version "2020-01-17"}
                                     figwheel-sidecar {:mvn/version "0.5.20"}}}

           :env/prod  {:jvm-opts    ["-Dconfig=env/prod/prod.config.edn"]
                       :extra-paths ["env/prod/clj" "env/prod/cljs"]}

           :env/local {:jvm-opts ["-Dconfig=.env.config.edn"]}

           :cljs      {:extra-deps {thheller/shadow-cljs {:mvn/version "RELEASE"}}}

           :fig/dev   {:main-opts ["-m" "figwheel.main"
                                   "-b" "env/dev/dev:.env"
                                   "-r"]}}}