^{
  :css-dirs ["resources/public/css" "resources/public/out"]
  :watch-dirs ["src/cljs" "env/dev/cljs"]
  :reload-clj-files false
  :ring-server-options { :host "localhost"
                        :port 9500}

  :ring-handler ponceleo.handler/app
  :open-url "localhost:3449"}

{
 :main ponceleo.dev
 :asset-path "/js/out"
 :output-to "target/public/js/app.js"
 :output-dir "target/public/js/out"
 :source-map true
 :optimizations :none
 :pretty-print  true}

