{
 ;; Default figwheel-main's run options

 ;; Used by the `figwheel-main lib
 ;; (figwheel.main/reset) , executed on a running Figwheel REPL instance,
 ;;                         will stop, clean, reload config, and start autobuilder
 ;; This file's data represents  **Figwheel's run options**
 ;; To override them, populate [build-id].cljs.edn meta-data

 ;; Overridable by :
 ;;   - env/dev/dev.cljs.edn's metadata (see :fig/dev alias in deps.edn)
 ;;   - env/prod/prod.cljs.edn's metadata (see :fig/prod alias in deps.edn)
 ;;   - .env.cljs.edn's metadata (see :fig/* alias in deps.edn)
 :ring-handler ponceleo.handler/app
 :ring-server-options {:port 3449}
}
