{
 ;; Tells Shadow-cljs to use /deps.edn file's dependencies and source-paths
 :deps            {:aliases [:cljs :env/local]}
 :nrepl {:port 9000
         :middleware []}
 :build-defaults  {}
 :target-defaults {:browser {}}
 :builds          {:dev  {:target      :browser
                          :asset-path "/js/out"
                          :output-to  "target/public/js/app.js"
                          :output-dir "target/public/js/out"
                          :source-map  true
                          :devtools    {:repl-pprint  true
                                        :preloads     []
                                        :after-load   ponceleo.core/mount-root
                                        :http-root    "target/public"
                                        :http-port    3449}
                          :build-hooks [(ponceleo.hooks/create-index-html "target" "public")]
                          :modules     {:app {:entries [ponceleo.dev]}}}
                   :prod {:target      :browser
                          :asset-path "/js/out"
                          :output-to  "target/public/js/app.js"
                          :output-dir "target/public/js/out"
                          :source-map  "target/public/js/app.js.map"
                          :build-hooks []
                          :modules     {:app {:entries [ponceleo.prod]}}}}}