/**
  Main css file for the SPA.
  This file aims at defining cross-page styles
*/
@import "form.css";

body {
  font-family: Fira Sans,Robot,Ubuntu,sans-serif;
  font-style: normal;
}

textarea {
  min-height: 128px;
}

.bg-blurred-2{
  filter: blur(2px);
}
.bg-blurred-4{
  filter: blur(4px);
}
.bg-blurred-6{
  filter: blur(6px);
}
.bg-blurred-8{
  filter: blur(8px);
}

#landing{
  text-shadow: 2px 2px 2px black;
  height: min(1000px, 100vh);
  @screen sm {
    height: min(1000px, 100vh);
  }
  @screen xl {
    height: min(1000px, 90vh);
  }
}

#stats .card{
  text-shadow: 1px 1px 2px black;
}

footer {
  ul {
    display:flex;
    flex-flow : row wrap;
    list-style:none;
    padding:5px 10px;
    margin:0px;
    li:nth-of-type(n+2):before {
      content:"\a0\a0-\a0\a0"
    }
  }
}
/** Content Styling **/
footer {
  font-size:0.8em;
  position:relative;
}

#about {
  padding: 15px;
  h1 {
    font-size:2rem;
    margin-bottom:10px;
  }
  table {
    table-layout:auto;
    max-width:600px;
    margin:15px;
    padding:5px;
    td,th{
      text-align: left;
      padding: 0px 10px;
    }
    th{
      white-space: nowrap;
    }
  }
}
