/**
  Main css file for the SPA.
  This file aims at defining cross-page styles
 */
@import "form.css";

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
}

textarea {
  min-height: 128px;
}

.bg-blurred-2{
filter: blur(2px);
}
.bg-blurred-4{
filter: blur(4px);
}
.bg-blurred-6{
filter: blur(6px);
}
.bg-blurred-8{
filter: blur(8px);
}


