/**
  Tailwind's base configuration file

 TODO : Separate in sereval files to make critical CSS load faster **/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-500;
    &:hover{
      @apply underline;
    }
  }

}

.overlay{
  @apply absolute w-full min-h-full;
}

button.btn-primary {
  @apply px-4 py-1 bg-red-500 text-white;
  @apply mx-2;
  border-radius: 5px;
}
