/**
  Tailwind's base configuration file

 TODO : Separate in sereval files to make critical CSS load faster **/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-500;
    &:hover{
      @apply underline;
    }
  }

}

.overlay{
  @apply absolute w-full min-h-full;
}

button.btn-primary {
  @apply px-4 py-1 bg-red-500 text-white;
  @apply mx-2;
  border-radius: 5px;
}

button:hover:enabled:not(:active)
{
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
button:disabled{
  cursor: default;
}

button:focus{
  outline: black solid 1px;
}
