{
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/clojurescript {:mvn/version "1.10.773"}
  ring/ring-core {:mvn/version "1.8.1"}
  ring/ring-defaults {:mvn/version "0.3.2"}
  ring-server {:mvn/version "0.5.0"}
  reagent {:mvn/version "0.10.0"}
  reagent-utils {:mvn/version "0.3.3"}
  hiccup {:mvn/version "1.0.5"}
  yogthos/config {:mvn/version "1.1.7"}
  metosin/reitit {:mvn/version "0.5.1"}
  metosin/jsonista {:mvn/version "0.2.6"}
  pez/clerk {:mvn/version "1.0.0"}
  venantius/accountant {:mvn/version "0.2.5"
                        :exclusions [org.clojure/tools.reader]}
  thheller/shadow-cljs {:mvn/version "RELEASE"}
  binaryage/devtools {:mvn/version "1.0.2"}
  prone {:mvn/version "2020-01-17"}
  me.raynes/fs {:mvn/version "1.4.6"}
  origenial/utils {:local/root "../origenial_utils"}
  }

 :paths
 ["src/main" "src/dev" "src/test" "src/resources"]}