{
 :deps ;; Tells Shadow-cljs to use /deps.edn file's dependencies and sources
 {:aliases [:env/local]}

 :nrepl
 {:port 9000, :middleware []}

 :build-defaults
 {}

 :target-defaults
 {:browser {}}

 :builds
 {
  ;;;;;;;;;;;;;;;;;
  ;;DEV BUILD
  ;;Useful to work with the REPL and Hot reloading within shadow-cls
  ;;Uses the /env/dev/* files for developement features
  ;; and precisely ponceleo.spa.* features
  ;;;;;;;;;;;;;;;;;
  :app
  {:target :browser
   :asset-path "/js/out"
   :output-dir "dist/public/js/out"
   :devtools {:repl-pprint true
              :http-root "dist/public"
              :http-port 3449}
   :build-hooks [(ponceleo.landing.frontend.hooks/create-index-html! "dist" "public")
                 (ponceleo.landing.frontend.hooks/copy-dir!
                  ["." "src" "resources" "img"]
                  ["." "dist" "public"])]
   :module-loader true
   :modules {:main
             {:init-fn ponceleo.landing.frontend.init/init!}

             :home
             {:entries [ponceleo.landing.frontend.pages.home.index
                        ponceleo.landing.frontend.pages.about.index
                        ponceleo.landing.frontend.pages.error]
              :depends-on #{:main}}

             :preview
             {:entries [ponceleo.landing.frontend.pages.preview.index]
              :depends-on #{:main}}}
   :dev {:closure-defines
         {ponceleo.landing.frontend.core/API_URL "http://127.0.0.1:8888"}}

   :release {:closure-defines
             {ponceleo.landing.frontend.core/API_URL "https://api.ponceleo.com"}}

   }}
 }
