{
 ;; Public dev environment variables
 ;; Overrides config.edn
 ;; Used by the `yogthos/config lib
 ;; (config.core/env :keyword) gets an env variable
 ;; (config.core/reload-env) reload env variables for current REPL

 :dev true
 :port 3449
}