{
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/data.json {:mvn/version "1.0.0"}
  yogthos/config {:mvn/version "1.1.7"}
  io.pedestal/pedestal.service {:mvn/version "0.5.8"}
  io.pedestal/pedestal.route {:mvn/version "0.5.8"}
  io.pedestal/pedestal.jetty {:mvn/version "0.5.8"}
  org.slf4j/slf4j-simple {:mvn/version "1.7.30"}
  com.draines/postal {:mvn/version "2.0.4"}}

 :paths
 ["src/main" "src/dev" "src/test" "src/resources"]

 :aliases {:test {:extra-paths ["src/test"]}}
}
