{
 ;; Public dev environment variables
 ;; Overrides config.edn
 ;; Used by the `yogthos/config lib
 ;; (config.core/env :keyword) gets an env variable
 ;; (config.core/reload-env) reload env variables for current REPL

 :dev true
 :allowed-origins ["http://localhost:3449"
                   "http://127.0.0.1:3449"]

 ;; I'm using maildev as decribed here https://www.grafikart.fr/tutoriels/maildev-tester-emails-595
 ;; In local environment
 :mail-server
 {:default-sender "le.site@ponceleo.com"
  :admin-email "lyderic.dutillieux@ponceleo.com"
  :contact-email "lyderic.dutillieux@ponceleo.com"
  :host "localhost"
  :port 1025
  :ssl false
  :user nil
  :pass nil}}
