{
 ;; Public prod environment variables
 ;; Only used in the JVM
 ;; Overrides config.edn
 ;; Used by the `yogthos/config lib
 ;; (config.core/env :keyword) gets an env variable
 ;; (config.core/reload-env) reload env variables for current REPL

 :production true

 :mail-server
 {:default-sender "le.site@ponceleo.com"
  :host "mail.ponceleo.com"
  :port 587
  :tls true
  :user "le.site@ponceleo.com"
  :pass nil}} ;; It's a secret 8)
